{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARVELLA</title>
    <link rel="stylesheet" href="{% static 'css/styles_homs.css' %}">


</head>
<body>
    <nav>

        <div class="logo">
            <a href=""><h1>CARVELLA</h1></a>
        </div>
        <div class="page" >
            <ul>
                <li><a href="#About">About</a></li>
                <li><a href="#Revew">Revew</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section id="Home">
        

        <img src="{% static 'images/hq720.jpg' %}" alt="Example Image">

        <h2>get your desired car in resonable price</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
     </section>
    <div class="section_3 hovers" id="About">
        <div class="Portfolio">
        <h2>About Us</h2>
        </div>
            <div class="boxs_2">
                <div class="box_2">
                    <img src="{% static 'images/buy new car.jpeg' %}" alt="icon_1">
                    <h2>Buy New Car</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat tempore officiis minus saepe, 
                        quaerat perferendis</p>
                        <a href="/buy"><button><h3>Got IT</h3></button></a>
                    </div>
                <div class="box_2">
                    <img src="{% static 'images/sold car.jpeg' %}" alt="icon_1">
                    <h2>Sold My Car</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat tempore officiis minus saepe, 
                        quaerat perferendis</p>
                        <a href="/sold"><button><h3>Got IT</h3></button></a>
                    </div>
                <div class="box_2">
                    <img src="{% static 'images/repai.jpeg' %}" alt="icon_1">
                    <h2>Repair My car</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat tempore officiis minus saepe, 
                        quaerat perferendis</p>
                        <a href="/repair"><button><h3>Got IT</h3></button></a>
                    </div>
            <div class="last">        
                <div class="box_2">
                    <img src="{% static 'images/reserv.jpeg' %}" alt="icon_1">
                    <h2>Reserv Car</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat tempore officiis minus saepe, 
                        quaerat perferendis</p>
                        <a href="/reserv_car"><button><h3>Got IT</h3></button></a>
                    </div>
            </div>        
            </div>
    </div>
    <div class="section_5 cars" id="Revew">
        <div class="Portfolio">
            <h2>Revew Somae cars</h2>
            <p>if you do it Right, it will last forver</p>
        </div> 
  
        <div class="boxs_3">
            {% for i in car %} 
            <div class="box_3">
                    <img src="{{i.image.url}}" alt="icon_1">
                    <h2>{{i.name}}  {{i.type}}</h2>
                    <!-- <h2>{{i.price_sale}}</h2> -->
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat tempore officiis minus saepe, 
                        quaerat perferendis</p>
                    </div>
                    {% endfor %}    
        </div>
    
    </div>
    <div class="section_4" id="contact">
        <div class="contact">
            <h2>Contact</h2>
            <p>We Are Born To Create</p>
        </div>
        <div class="links">
            <div class="mail">
                <h3>fell free to drop us aline at:</h3>
                <a href="mailto:fadyn940@gmail.com">fadyn940@gmail.com</a>
            </div>
            <div class="social">
                <p>Find Us On Social Networks</p>
                <a href="https://www.youtube.com/" target="_blank" ><img src="{% static 'images/youtube.jpeg' %}" alt=""></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="{% static 'images/facebook.jpeg' %}" alt=""></a>
                <a href="https://x.com/" target="_blank"><img src="{% static 'images/twiiter.jpeg' %}" alt=""></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="{% static 'images/instgram.jpeg' %}" alt=""></a>

            </div>
        </div>

    </div>
    <footer>
        <div class="end">
           <p>© 2021 Leon All Right Reseved</p>
           <a href="/admin" target="_blank">Admin </a>
        
           <a href="/login" target="_blank">Manger</a>
      </div>   
    </footer>
</body>
</html>